.messages {
  background-color: white;
  padding: 20px;
  height: calc(100% - 130px);
  overflow-y: scroll;
  border-left: 1px solid black;
}

.noMessages {
  text-align: center;
  color: #ccc;
  font-size: 18px;
  margin-top: 20px;
}
