.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  cursor: pointer;

  &:hover {
    background-color: #dedede;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .userChatInfo {
    span {
      font-size: 18px;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: rgb(112, 112, 112);
    }
    .urgent {
      color: red;
      font-weight: 600;
    }
  }
}
.unseen {
  font-weight: 800;
  background-color: #dedede;
}
